/*    F O N T S
/*--------------------------------------*/

// Comment/uncomment the fonts you want to use

// Proxima Regular
@include font-face(Proxima, '../fonts/proximanova-regular-webfont', normal, normal);
@include font-face(Proxima, '../fonts/proximanova-regit-webfont', normal, italic);


// Proxima Semi/Extra Bold
@include font-face(Proxima, '../fonts/proximanova-semibold-webfont', bold, normal);
@include font-face(Proxima, '../fonts/proximanova-semiboldit-webfont', bold, italic);
@include font-face(Proxima, '../fonts/proximanova-xbold-webfont', 900, normal);

// Set fonts
$sans-serif:	"Helvetica Neue", Helvetica, Arial, sans-serif;
$proxima:		'Proxima', $sans-serif;
$tahoma:		Tahoma,Verdana,Segoe,sans-serif;
