@import "partials/fonts";

/* ==========================================================================
   Typography
   ========================================================================== */

// If targeting a text element (ie. h1-h6, p, li, blockquote), try to style here.
// The exception is header/footer navigation and unique list styles.

body {
	color: $text-color;
	font: 16px/1.8em $tahoma;
	text-shadow: 0 0 1px transparent;
}

/*    Headers
/*--------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	color: $header-color;
	font-weight: bold;
	clear: both;
	margin: 0;
}

// Using em's to make the size relative to the base font and line height set for the body
// ex. 14px * 3em = 42px
h1 {
	font-size: 3.2em; // 14 * 3.2 = 44.8
	line-height: 1.1em;
}
h2 {
	font-size: 2.5em; // 14 * 3 = 42
	line-height: 1.2em;
}
h3 {
	font-size: 2.2em; // 14 * 2.2 = 30.8
	line-height: 1.2em;
}
h4 {
	font-size: 2em; // 14 * 2 = 28
	line-height: 1.2em;
}
h5 {
	font-size: 1.5em; // 14 * 1.5 = 21
	line-height: 1.3em;
}
h6 {
	font-size: 1em; // 14 * 1 = 14
	line-height: 1.3em;
}

/* Custom Headers */
.page, .single {
	h2, h3, h4, h5, h6 {
		margin: 1em 0;
	}
}
.single article {
	h1, h2 {
		font-size: 1.7em;
		font-family: "Lucida Bright", Georgia, serif;
		text-align: center;
	}
	h2 {
		font-size: 1.2em;
	}
	h3 {
		font-size: 1.2em;
	}
	h4 {
		font-size: 1.1em;
	}
	h5 {
		font-size: 1em;
	}
}
.home {
	h1, h2, h3, h4, h5, h6 {
		margin-top: 0;
	}
	h2 {
		font-size: 1.5em;
		text-align: center;
		font-weight: bold;
		padding: 0;
		margin: 0 0 15px 0;
	}
	h3 {
		text-transform: uppercase;
		padding-bottom: 10px;
		border-bottom: 2px solid $border-color;
		font-size: 1.5em;
		margin-bottom: 20px;
	}
	h4 {
		margin-bottom: 5px;
		font-size: 1em;
	}
}
.archive {
	h1 {
		font-size: 1.7em;
	}
}
h1 span {
	display: block;
	font-size: .2em;
	line-height: 1em;
}
.archive .main header h2 {
	font-size: 2em;
}
h2.subtitle {
	font-size: 1.5em;
	line-height: 1.2em;
	font-weight: lighter;
	font-style: italic;
}
.archive .main header h3 {
	font-size: 1.2em;
}
.col + .col h4 {
	font-size: 1em;
}
article.category-views h1 {
	font-size: 2.8em;
	font-style: italic;
	padding: 20px 0 0 0;
}

/*    Text Elements
/*--------------------------------------*/

strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
hr {
	border: none;
	background: url('../images/mm1ab.gif') no-repeat center center;
	height: 50px;
}
p {
	margin: 2em 0;
}
h1, h2, h3, h4, h5, h6 {
	+ p, + ul, + ol, + dl {
		margin-top: 5px;
	}
}
ul, ol {
	padding: 0;
}
li {
	margin: 0 0 0 20px;
	list-style-type: disc;
}
ol li {
	list-style-type: decimal;
}
cite {
	font-style: italic;
}
blockquote {
	padding: 1px 40px 1px 22px;
	margin: 30px 0;
	
	p {
		margin: 1em 0;
	}
}
figcaption {
	font-style: italic; 
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 0 25px 0;
	font-weight: normal;
}

/*    Links
/*--------------------------------------*/

a:link {
	text-decoration: none;
	color: $link-color;
	font-weight: bold;
	@include transition(color 0.24s ease-in-out);
}
a:hover, a:focus, a:active {
	color: $link-hover-color;
}
.main a:visited {
	color: $link-visited-color;
}
nav a:link, a.btn {
	text-decoration: none;
}

/*    Accessibility
/*--------------------------------------*/

// Accessible way to hide text
.hidden {
	@extend %visuallyhidden;
}
.skip {
	float: left;
}
.skip:focus {
	position: static;
	width: auto;
	height: auto;
} 