//    C O L O R S
//--------------------------------------*/

// Define Colors
$ucla-blue:				#347bad;
$dark-blue:				#0277bd;

// Define Color Pallete
// Consider using the defaults below or creating your own:
// https://robots.thoughtbot.com/controlling-color-with-sass-color-functions.
$primary:				$ucla-blue;
$primary-light:			tint($primary, 30%);
$primary-dark:			shade($primary, 82%);

$secondary: 			$dark-blue;
$secondary-light: 		tint($secondary, 73% );
$secondary-dark: 		darken($secondary, 15% );

// Text Colors
$text-color:			rgba(black, .87);
$secondary-text-color:	rgba(black, .53);
$link-color:			#3399cc;
$link-hover-color:		#6e97c0;
$link-visited-color:	#6e97c0;
$header-color:			$text-color;

// Other
$border-color:			rgba(black, .12);
$separator-color:		$secondary-light;
$background-color:		$primary-light;
$btn-color:				$secondary-light;
$btn-hover-color:		$secondary;
$bullet-point:			$secondary;
$bg-light-color:		rgba(black, .03);
$bg-dark-color:			rgba(black, .06);

//    N U M B E R S
//--------------------------------------*/

//Global Border Radius
$radius:				15px;
$site-width:			875px;