/******************************************************************
Site Name: Anthropoetics
Author(s): Lucian Tucker

Stylesheet: Main Stylesheet
******************************************************************/
/* ==========================================================================
   Normalize v3.0.2 | MIT License
   ========================================================================== */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

p {
  -webkit-hyphens: manual;
  -epub-hyphens: manual;
  -moz-hyphens: manual;
  hyphens: manual; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.hidden, .gform_validation_container {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*    F O N T S
/*--------------------------------------*/
@font-face {
  font-family: Proxima;
  src: url("../fonts/proximanova-regular-webfont.eot");
  src: url("../fonts/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-regular-webfont.woff") format("woff"), url("../fonts/proximanova-regular-webfont.ttf") format("truetype"), url("../fonts/proximanova-regular-webfont.svg#Proxima") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Proxima;
    src: url("../fonts/proximanova-regular-webfont.svg#Proxima") format("svg"); } }

@font-face {
  font-family: Proxima;
  src: url("../fonts/proximanova-regit-webfont.eot");
  src: url("../fonts/proximanova-regit-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-regit-webfont.woff") format("woff"), url("../fonts/proximanova-regit-webfont.ttf") format("truetype"), url("../fonts/proximanova-regit-webfont.svg#Proxima") format("svg");
  font-weight: normal;
  font-style: italic; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Proxima;
    src: url("../fonts/proximanova-regit-webfont.svg#Proxima") format("svg"); } }

@font-face {
  font-family: Proxima;
  src: url("../fonts/proximanova-semibold-webfont.eot");
  src: url("../fonts/proximanova-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-semibold-webfont.woff") format("woff"), url("../fonts/proximanova-semibold-webfont.ttf") format("truetype"), url("../fonts/proximanova-semibold-webfont.svg#Proxima") format("svg");
  font-weight: bold;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Proxima;
    src: url("../fonts/proximanova-semibold-webfont.svg#Proxima") format("svg"); } }

@font-face {
  font-family: Proxima;
  src: url("../fonts/proximanova-semiboldit-webfont.eot");
  src: url("../fonts/proximanova-semiboldit-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-semiboldit-webfont.woff") format("woff"), url("../fonts/proximanova-semiboldit-webfont.ttf") format("truetype"), url("../fonts/proximanova-semiboldit-webfont.svg#Proxima") format("svg");
  font-weight: bold;
  font-style: italic; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Proxima;
    src: url("../fonts/proximanova-semiboldit-webfont.svg#Proxima") format("svg"); } }

@font-face {
  font-family: Proxima;
  src: url("../fonts/proximanova-xbold-webfont.eot");
  src: url("../fonts/proximanova-xbold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-xbold-webfont.woff") format("woff"), url("../fonts/proximanova-xbold-webfont.ttf") format("truetype"), url("../fonts/proximanova-xbold-webfont.svg#Proxima") format("svg");
  font-weight: 900;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Proxima;
    src: url("../fonts/proximanova-xbold-webfont.svg#Proxima") format("svg"); } }

/* ==========================================================================
   Typography
   ========================================================================== */
body {
  color: rgba(0, 0, 0, 0.87);
  font: 16px/1.8em Tahoma, Verdana, Segoe, sans-serif;
  text-shadow: 0 0 1px transparent; }

/*    Headers
/*--------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  color: rgba(0, 0, 0, 0.87);
  font-weight: bold;
  clear: both;
  margin: 0; }

h1 {
  font-size: 3.2em;
  line-height: 1.1em; }

h2 {
  font-size: 2.5em;
  line-height: 1.2em; }

h3 {
  font-size: 2.2em;
  line-height: 1.2em; }

h4 {
  font-size: 2em;
  line-height: 1.2em; }

h5 {
  font-size: 1.5em;
  line-height: 1.3em; }

h6 {
  font-size: 1em;
  line-height: 1.3em; }

/* Custom Headers */
.page h2, .page h3, .page h4, .page h5, .page h6, .single h2, .single h3, .single h4, .single h5, .single h6 {
  margin: 1em 0; }

.single article h1, .single article h2 {
  font-size: 1.7em;
  font-family: "Lucida Bright", Georgia, serif;
  text-align: center; }

.single article h2 {
  font-size: 1.2em; }

.single article h3 {
  font-size: 1.2em; }

.single article h4 {
  font-size: 1.1em; }

.single article h5 {
  font-size: 1em; }

.home h1, .home h2, .home h3, .home h4, .home h5, .home h6 {
  margin-top: 0; }

.home h2 {
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  padding: 0;
  margin: 0 0 15px 0; }

.home h3 {
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  font-size: 1.5em;
  margin-bottom: 20px; }

.home h4 {
  margin-bottom: 5px;
  font-size: 1em; }

.archive h1 {
  font-size: 1.7em; }

h1 span {
  display: block;
  font-size: .2em;
  line-height: 1em; }

.archive .main header h2 {
  font-size: 2em; }

h2.subtitle {
  font-size: 1.5em;
  line-height: 1.2em;
  font-weight: lighter;
  font-style: italic; }

.archive .main header h3 {
  font-size: 1.2em; }

.col + .col h4 {
  font-size: 1em; }

article.category-views h1 {
  font-size: 2.8em;
  font-style: italic;
  padding: 20px 0 0 0; }

/*    Text Elements
/*--------------------------------------*/
strong {
  font-weight: bold; }

em {
  font-style: italic; }

hr {
  border: none;
  background: url("../images/mm1ab.gif") no-repeat center center;
  height: 50px; }

p {
  margin: 2em 0; }

h1 + p, h1 + ul, h1 + ol, h1 + dl, h2 + p, h2 + ul, h2 + ol, h2 + dl, h3 + p, h3 + ul, h3 + ol, h3 + dl, h4 + p, h4 + ul, h4 + ol, h4 + dl, h5 + p, h5 + ul, h5 + ol, h5 + dl, h6 + p, h6 + ul, h6 + ol, h6 + dl {
  margin-top: 5px; }

ul, ol {
  padding: 0; }

li {
  margin: 0 0 0 20px;
  list-style-type: disc; }

ol li {
  list-style-type: decimal; }

cite {
  font-style: italic; }

blockquote {
  padding: 1px 40px 1px 22px;
  margin: 30px 0; }
  blockquote p {
    margin: 1em 0; }

figcaption {
  font-style: italic; }

dt {
  font-weight: bold; }

dd {
  margin: 0 0 25px 0;
  font-weight: normal; }

/*    Links
/*--------------------------------------*/
a:link {
  text-decoration: none;
  color: #3399cc;
  font-weight: bold;
  -webkit-transition: color 0.24s ease-in-out;
  transition: color 0.24s ease-in-out; }

a:hover, a:focus, a:active {
  color: #6e97c0; }

.main a:visited {
  color: #6e97c0; }

nav a:link, a.btn {
  text-decoration: none; }

/*    Accessibility
/*--------------------------------------*/
.skip {
  float: left; }

.skip:focus {
  position: static;
  width: auto;
  height: auto; }

/*    B U T T O N  S T Y L E S
/*--------------------------------------*/
.btn, button, input[type="submit"], .page .btn, .single .btn, a.btn {
  background: #469ccf;
  color: white !important;
  padding: 3px 10px;
  font-weight: bold;
  letter-spacing: 1px;
  min-width: 90px;
  display: inline-block;
  text-align: center;
  border: none;
  cursor: pointer;
  position: relative;
  border-radius: 15px;
  background-clip: padding-box;
  -webkit-transition: background-color 0.24s ease-in-out;
  transition: background-color 0.24s ease-in-out; }
  .btn:hover, button:hover, input[type="submit"]:hover, .btn:focus, button:focus, input[type="submit"]:focus {
    background: #0277bd;
    color: white; }
  .btn:active, button:active, input[type="submit"]:active {
    top: 1px; }

.btn.give {
  background-image: url("../images/heart-icon.png");
  background-position: 11px center;
  background-repeat: no-repeat;
  padding: 3px 20px 3px 27px;
  margin: 0 auto;
  text-align: left;
  min-width: auto; }

.tribe-bar-submit .tribe-events-button, .tribe-events-read-more, .tribe-events-read-more:link, .tribe-events-list-widget a.btn {
  background-color: #469ccf !important;
  color: white !important;
  padding: 3px 0 !important;
  font-weight: bold !important;
  letter-spacing: 1px !important;
  min-width: 110px !important;
  display: inline-block !important;
  text-align: center !important;
  border: none !important;
  cursor: pointer !important;
  position: relative !important;
  border-radius: 15px !important;
  background-clip: padding-box !important;
  transition: background-color 0.24s ease-in-out !important;
  -webkit-transition: background-color 0.24s ease-in-out !important; }
  .tribe-bar-submit .tribe-events-button:hover, .tribe-bar-submit .tribe-events-button:focus, .tribe-events-read-more:hover, .tribe-events-read-more:focus, .tribe-events-read-more:link:hover, .tribe-events-read-more:link:focus, .tribe-events-list-widget a.btn:hover, .tribe-events-list-widget a.btn:focus {
    background-color: #0277bd !important;
    color: white !important; }
  .tribe-bar-submit .tribe-events-button:active, .tribe-events-read-more:active, .tribe-events-read-more:link:active, .tribe-events-list-widget a.btn:active {
    top: 1px; }

.tribe-bar-submit .tribe-events-button {
  padding: 6px 0 !important;
  text-transform: none !important;
  font-size: 14px !important; }

/*    F O R M  S T Y L E S
/*--------------------------------------*/
fieldset {
  border: none;
  padding: 0; }

label {
  font-weight: bold; }

input + label {
  font-weight: normal; }

form ul li ul li label {
  padding-left: 10px; }

label span {
  color: #790000;
  margin-left: 5px; }

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="color"],
select,
textarea,
.field {
  padding: 0 10px;
  width: 280px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  display: block;
  height: 35px;
  line-height: 2.5em;
  color: rgba(0, 0, 0, 0.87);
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.03);
  -webkit-transition: background-color 0.24s ease-in-out;
  transition: background-color 0.24s ease-in-out; }
  input[type="text"]:focus, input[type="text"]:active,
  input[type="password"]:focus,
  input[type="password"]:active,
  input[type="datetime"]:focus,
  input[type="datetime"]:active,
  input[type="datetime-local"]:focus,
  input[type="datetime-local"]:active,
  input[type="date"]:focus,
  input[type="date"]:active,
  input[type="month"]:focus,
  input[type="month"]:active,
  input[type="time"]:focus,
  input[type="time"]:active,
  input[type="week"]:focus,
  input[type="week"]:active,
  input[type="number"]:focus,
  input[type="number"]:active,
  input[type="email"]:focus,
  input[type="email"]:active,
  input[type="url"]:focus,
  input[type="url"]:active,
  input[type="tel"]:focus,
  input[type="tel"]:active,
  input[type="color"]:focus,
  input[type="color"]:active,
  select:focus,
  select:active,
  textarea:focus,
  textarea:active,
  .field:focus,
  .field:active {
    background-color: white; }
  input[type="text"].error, input[type="text"].is-invalid,
  input[type="password"].error,
  input[type="password"].is-invalid,
  input[type="datetime"].error,
  input[type="datetime"].is-invalid,
  input[type="datetime-local"].error,
  input[type="datetime-local"].is-invalid,
  input[type="date"].error,
  input[type="date"].is-invalid,
  input[type="month"].error,
  input[type="month"].is-invalid,
  input[type="time"].error,
  input[type="time"].is-invalid,
  input[type="week"].error,
  input[type="week"].is-invalid,
  input[type="number"].error,
  input[type="number"].is-invalid,
  input[type="email"].error,
  input[type="email"].is-invalid,
  input[type="url"].error,
  input[type="url"].is-invalid,
  input[type="tel"].error,
  input[type="tel"].is-invalid,
  input[type="color"].error,
  input[type="color"].is-invalid,
  select.error,
  select.is-invalid,
  textarea.error,
  textarea.is-invalid,
  .field.error,
  .field.is-invalid {
    color: red;
    border-color: red;
    background-color: white;
    outline-color: red; }
  input[type="text"].success, input[type="text"].is-valid,
  input[type="password"].success,
  input[type="password"].is-valid,
  input[type="datetime"].success,
  input[type="datetime"].is-valid,
  input[type="datetime-local"].success,
  input[type="datetime-local"].is-valid,
  input[type="date"].success,
  input[type="date"].is-valid,
  input[type="month"].success,
  input[type="month"].is-valid,
  input[type="time"].success,
  input[type="time"].is-valid,
  input[type="week"].success,
  input[type="week"].is-valid,
  input[type="number"].success,
  input[type="number"].is-valid,
  input[type="email"].success,
  input[type="email"].is-valid,
  input[type="url"].success,
  input[type="url"].is-valid,
  input[type="tel"].success,
  input[type="tel"].is-valid,
  input[type="color"].success,
  input[type="color"].is-valid,
  select.success,
  select.is-valid,
  textarea.success,
  textarea.is-valid,
  .field.success,
  .field.is-valid {
    color: green;
    border-color: green;
    background-color: white;
    outline-color: green; }
  input[type="text"][disabled], input[type="text"].is-disabled,
  input[type="password"][disabled],
  input[type="password"].is-disabled,
  input[type="datetime"][disabled],
  input[type="datetime"].is-disabled,
  input[type="datetime-local"][disabled],
  input[type="datetime-local"].is-disabled,
  input[type="date"][disabled],
  input[type="date"].is-disabled,
  input[type="month"][disabled],
  input[type="month"].is-disabled,
  input[type="time"][disabled],
  input[type="time"].is-disabled,
  input[type="week"][disabled],
  input[type="week"].is-disabled,
  input[type="number"][disabled],
  input[type="number"].is-disabled,
  input[type="email"][disabled],
  input[type="email"].is-disabled,
  input[type="url"][disabled],
  input[type="url"].is-disabled,
  input[type="tel"][disabled],
  input[type="tel"].is-disabled,
  input[type="color"][disabled],
  input[type="color"].is-disabled,
  select[disabled],
  select.is-disabled,
  textarea[disabled],
  textarea.is-disabled,
  .field[disabled],
  .field.is-disabled {
    cursor: not-allowed;
    border-color: gray;
    opacity: 0.6; }
    input[type="text"][disabled]:focus, input[type="text"][disabled]:active, input[type="text"].is-disabled:focus, input[type="text"].is-disabled:active,
    input[type="password"][disabled]:focus,
    input[type="password"][disabled]:active,
    input[type="password"].is-disabled:focus,
    input[type="password"].is-disabled:active,
    input[type="datetime"][disabled]:focus,
    input[type="datetime"][disabled]:active,
    input[type="datetime"].is-disabled:focus,
    input[type="datetime"].is-disabled:active,
    input[type="datetime-local"][disabled]:focus,
    input[type="datetime-local"][disabled]:active,
    input[type="datetime-local"].is-disabled:focus,
    input[type="datetime-local"].is-disabled:active,
    input[type="date"][disabled]:focus,
    input[type="date"][disabled]:active,
    input[type="date"].is-disabled:focus,
    input[type="date"].is-disabled:active,
    input[type="month"][disabled]:focus,
    input[type="month"][disabled]:active,
    input[type="month"].is-disabled:focus,
    input[type="month"].is-disabled:active,
    input[type="time"][disabled]:focus,
    input[type="time"][disabled]:active,
    input[type="time"].is-disabled:focus,
    input[type="time"].is-disabled:active,
    input[type="week"][disabled]:focus,
    input[type="week"][disabled]:active,
    input[type="week"].is-disabled:focus,
    input[type="week"].is-disabled:active,
    input[type="number"][disabled]:focus,
    input[type="number"][disabled]:active,
    input[type="number"].is-disabled:focus,
    input[type="number"].is-disabled:active,
    input[type="email"][disabled]:focus,
    input[type="email"][disabled]:active,
    input[type="email"].is-disabled:focus,
    input[type="email"].is-disabled:active,
    input[type="url"][disabled]:focus,
    input[type="url"][disabled]:active,
    input[type="url"].is-disabled:focus,
    input[type="url"].is-disabled:active,
    input[type="tel"][disabled]:focus,
    input[type="tel"][disabled]:active,
    input[type="tel"].is-disabled:focus,
    input[type="tel"].is-disabled:active,
    input[type="color"][disabled]:focus,
    input[type="color"][disabled]:active,
    input[type="color"].is-disabled:focus,
    input[type="color"].is-disabled:active,
    select[disabled]:focus,
    select[disabled]:active,
    select.is-disabled:focus,
    select.is-disabled:active,
    textarea[disabled]:focus,
    textarea[disabled]:active,
    textarea.is-disabled:focus,
    textarea.is-disabled:active,
    .field[disabled]:focus,
    .field[disabled]:active,
    .field.is-disabled:focus,
    .field.is-disabled:active {
      background-color: blue; }

input[type="password"] {
  letter-spacing: 0.3em; }

input[type="submit"] {
  padding: 7px 0;
  border: none; }

input[type="search"] {
  width: 170px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 15px;
  font-size: .85em;
  padding: 5px 40px 5px 10px;
  background: rgba(0, 0, 0, 0.03) url("../images/search-icon.png") no-repeat 185px center;
  font-weight: bold;
  margin-bottom: 10px;
  -webkit-transition: background-color 0.24s ease-in-out;
  transition: background-color 0.24s ease-in-out; }
  input[type="search"]:focus {
    background-color: white; }

textarea {
  width: 500px;
  max-width: 640px;
  min-height: 120px;
  line-height: 1.5em;
  padding: 10px; }

select {
  width: 302px; }

select[multiple="multiple"] {
  height: 100px;
  padding: 10px; }

form li {
  list-style: none;
  margin: 10px 0; }

form ul li ul li {
  list-style: none;
  margin: 0; }

.validation_error {
  font-weight: bold;
  padding: 10px;
  border: 2px solid #790000;
  border-radius: 5px;
  text-align: center; }

.validation_message {
  font-style: italic; }

/*    E V E N T S
/*--------------------------------------*/
.post-type-archive-tribe_events .col {
  float: none;
  width: 100%; }

.tribe-bar-submit {
  float: right !important;
  width: 140px;
  margin: 1px 20px 0 0; }

.tribe-events-read-more, .tribe-events-read-more:link, .tribe-events-list-widget a.btn {
  padding: 3px 0 !important; }

.tribe-bar-submit .tribe-events-button {
  margin-top: 10px !important; }

#tribe-events-content.tribe-events-month {
  width: 940px;
  margin: 0 auto; }

#tribe-events-content {
  width: 640px;
  margin: 0 auto; }

.tribe-events-venue-details {
  font-weight: normal; }

.tribe-events-list .vevent.hentry {
  border-bottom-color: rgba(0, 0, 0, 0.12);
  border-bottom-width: 2px; }

.tribe-events-schedule {
  margin: 0 !important; }
  .tribe-events-schedule p {
    margin-top: 0; }

#tribe-bar-views select, .tribe-bar-views-inner, #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a {
  background-color: #eee !important; }

#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a:hover {
  background-color: #e0e0e0 !important; }

#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option.tribe-bar-active a:hover {
  background-color: #e0e0e0 !important; }

.tribe-events-list-widget .duration {
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.5em;
  font-size: .85em; }

.tribe-events-list-widget .duration span {
  display: inline;
  font-weight: bold;
  padding: 0;
  margin: 0; }

.tribe-events-list-widget .tribe-events-widget-link {
  padding-left: 0; }

.tribe-events-list-widget ol li {
  margin-bottom: 20px; }

#tribe-bar-form {
  background-color: rgba(0, 0, 0, 0.03);
  padding: 0 0 0 20px; }
  #tribe-bar-form label {
    font-size: 1em;
    margin-top: 5px; }
  #tribe-bar-form input[type="text"] {
    font-weight: normal; }

/*    S L I D E R
/*--------------------------------------*/
.bx-wrapper {
  position: relative;
  margin: 0 auto 5px;
  padding: 0;
  *zoom: 1;
  float: left;
  clear: both; }

#bxslider {
  margin-top: 0; }

#slider {
  width: 100%;
  float: left;
  clear: both;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,.14);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,.14);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,.14);
  margin: 0 0 40px 0; }
  #slider li {
    height: 440px;
    margin: 0 0 0 0;
    list-style: none;
    float: left;
    background-position: center bottom;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    position: relative; }
  #slider .content {
    margin: 0 auto; }
  #slider .slider-content {
    color: rgba(0, 0, 0, 0.87) !important;
    font-weight: normal;
    background: url("../images/transparent-bg.png") repeat;
    width: 460px;
    padding: 0px 20px;
    max-height: 150px;
    position: absolute;
    bottom: 10px;
    border-left: 20px solid #469ccf; }
    #slider .slider-content .slider-content p {
      font-size: 12px;
      line-height: 18px; }

/* Direction Controls (Next / Prev) */
.bx-wrapper .bx-prev {
  left: 50px;
  background: url(../images/arrow-left.png) no-repeat; }
  .bx-wrapper .bx-prev:hover {
    background: url(../images/arrow-left-light.png) no-repeat; }

.bx-wrapper .bx-next {
  right: 50px;
  background: url(../images/arrow-right.png) no-repeat; }
  .bx-wrapper .bx-next:hover {
    background: url(../images/arrow-right-light.png) no-repeat; }

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 34px;
  height: 58px;
  z-index: 9999;
  text-indent: -9999px; }

.bx-wrapper .bx-controls-direction a.disabled {
  display: none; }

/* Pager */
.bx-pager {
  color: rgba(0, 0, 0, 0.53);
  padding-top: 0px;
  margin-top: -30px;
  position: relative;
  width: 875px;
  margin-left: auto;
  margin-right: auto;
  text-align: right; }

.bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline; }

.bx-pager-link {
  overflow: hidden; }

.bx-pager.bx-default-pager a {
  background: none;
  text-indent: 9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  border-radius: 5px;
  border: 1px white solid; }

.bx-pager a:hover,
.bx-pager a.active {
  background: #3399cc; }

/*    C O N F E R E N C E S
/*--------------------------------------*/
.single-conference {
  /* Google Map */ }
  .single-conference #hero {
    height: auto;
    margin-bottom: 0; }
  .single-conference .overlay {
    background-color: rgba(1, 71, 113, 0.7); }
  .single-conference .site-link {
    background: #014771 url("../images/thin-arrow-left.png") no-repeat 20px center;
    display: inline-block;
    padding: 10px 25px 10px 45px;
    color: white;
    position: absolute; }
  .single-conference .col {
    float: none;
    margin: 0 auto; }
  .single-conference header.top {
    color: white;
    text-align: center; }
    .single-conference header.top nav.desktop, .single-conference header.top nav.desktop ul {
      width: 940px;
      float: none; }
    .single-conference header.top nav.desktop a {
      font-size: 1em; }
    .single-conference header.top .current_page_item a {
      border-bottom: 2px solid #014771; }
    .single-conference header.top nav.mobile {
      display: none; }
  .single-conference .landing header.top h1 {
    font-size: 7.1em;
    font-weight: 900;
    color: white;
    display: block;
    margin: 130px auto 0 auto;
    border-bottom: 1px solid white; }
  .single-conference .landing header.top .subtitle {
    font-size: .3em;
    text-transform: uppercase;
    font-weight: 600; }
  .single-conference .landing header.top nav.desktop a {
    color: white; }
  .single-conference .landing header.top .details {
    font-size: 1.5em; }
    .single-conference .landing header.top .details p {
      margin: 1em 0; }
    .single-conference .landing header.top .details a {
      color: white;
      text-decoration: underline; }
  .single-conference .landing header.top a.btn {
    font-size: 1.5em;
    text-transform: uppercase;
    border: 2px solid white;
    padding: 10px 45px;
    margin: 60px 0;
    border-radius: 0;
    background: none; }
  .single-conference .not-landing header.top h2 {
    font-size: 5em;
    font-weight: 900;
    display: block;
    margin: 0 auto 0 auto; }
  .single-conference .not-landing header.top nav.desktop a {
    color: #014771; }
  .single-conference .not-landing #hero {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    float: left;
    clear: both;
    margin: 0;
    -webkit-box-shadow: 0px 5px 5px 0 rgba(0,0,0,.14);
    -moz-box-shadow: 0px 5px 5px 0 rgba(0,0,0,.14);
    box-shadow: 0px 5px 5px 0 rgba(0,0,0,.14); }
  .single-conference .schedule {
    margin-bottom: 30px;
    float: left;
    clear: both; }
    .single-conference .schedule li {
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      list-style: none;
      padding: 20px 0;
      margin: 0;
      float: left;
      clear: both; }
    .single-conference .schedule .time {
      width: 160px;
      float: left;
      clear: left; }
    .single-conference .schedule .session {
      width: 520px;
      float: right;
      clear: right; }
    .single-conference .schedule p {
      margin: 1em 0; }
  .single-conference ul.speakers {
    float: left; }
    .single-conference ul.speakers li {
      margin: 0;
      padding: 15px 0;
      list-style: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      float: left;
      width: 100%; }
    .single-conference ul.speakers li img {
      width: 160px;
      height: 160px;
      margin-right: 20px;
      float: left; }
    .single-conference ul.speakers .circle {
      border-radius: 140px; }
    .single-conference ul.speakers .rounded {
      border-radius: 70px; }
    .single-conference ul.speakers .speaker-details {
      width: 460px;
      float: left; }
  .single-conference .map {
    width: 100%;
    height: 600px;
    margin: 0; }
  .single-conference .map img {
    max-width: inherit !important; }

@media only screen and (max-width: 960px) {
  .single-conference .landing #hero {
    display: block; }
  .single-conference .landing header.top {
    font-size: .8em; }
    .single-conference .landing header.top h1, .single-conference .landing header.top h2 {
      width: 90%; }
    .single-conference .landing header.top nav.mobile {
      display: block;
      font-size: 1.3em; }
    .single-conference .landing header.top nav.mobile a {
      color: white; }
    .single-conference .landing header.top nav.mobile ul {
      width: 100%;
      padding: 0;
      margin: 0; }
    .single-conference .landing header.top nav.mobile ul li {
      display: block;
      margin: 0 10px 0 0; }
  .single-conference .not-landing #hero {
    display: none; }
  .single-conference .not-landing header.top {
    padding-top: 50px; }
    .single-conference .not-landing header.top h2 {
      line-height: 1em; }
    .single-conference .not-landing header.top nav.desktop, .single-conference .not-landing header.top nav.desktop ul {
      display: block;
      width: 100%; }
    .single-conference .not-landing header.top nav.desktop ul li {
      display: block;
      margin: 0 10px 0 0; }
  .single-conference .col {
    max-width: 700px !important;
    margin: 0 auto !important;
    float: none !important; }
  .single-conference .schedule {
    width: 100%; }
    .single-conference .schedule .session, .single-conference .schedule li {
      width: 100%;
      float: none;
      clear: none; }
  .single-conference ul.speakers li img {
    width: 160px;
    height: 160px;
    margin: 0 auto 20px auto;
    display: block;
    float: none; }
  .single-conference ul.speakers .speaker-details {
    width: 100%;
    float: none; } }

/* ==========================================================================
   Main Styles - Desktop
   ========================================================================== */
/*    M A I N  C O N T A I N E R S
/*--------------------------------------*/
body {
  background-color: #333; }

#container {
  overflow: auto;
  zoom: 1;
  width: 875px;
  margin: 0 auto;
  background-color: white;
  padding: 0 20px; }

.content, header {
  width: 100%; }

.views {
  background-color: #ffff80 !important; }

#hero {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  float: left;
  clear: both;
  margin: 0 0 13px 0;
  -webkit-box-shadow: 0px 5px 5px 0 rgba(0,0,0,.14);
  -moz-box-shadow: 0px 5px 5px 0 rgba(0,0,0,.14);
  box-shadow: 0px 5px 5px 0 rgba(0,0,0,.14); }

.col {
  width: 835px; }

.left-col {
  float: left;
  clear: left;
  width: 225px; }

.right-col {
  float: right;
  clear: right;
  width: 225px; }

.center-col {
  width: 350px;
  margin-left: 35px;
  float: left; }
  .center-col p {
    font-size: .8em;
    line-height: 1.3em; }

#main-content .row {
  clear: both;
  float: left;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid black; }

/*    H O M E  P A G E
/*--------------------------------------*/
.home .facebook {
  text-align: center; }

/*    H E A D E R
/*--------------------------------------*/
header {
  padding: 35px 0 0 0; }
  header.top h1, header.top h2 {
    width: 100%;
    display: inline-block;
    margin: 0;
    text-align: left; }
  header .logo {
    width: 829px;
    height: 200px; }
  header nav {
    clear: both;
    float: left;
    padding: 30px 0 20px 0; }
  header nav ul {
    width: 730px; }
  header .search {
    float: right;
    clear: right;
    margin-top: 30px; }

/*    N A V I G A T I O N
/*--------------------------------------*/
nav li {
  list-style: none;
  margin: 0 0 10px 0;
  font-size: .8em;
  line-height: 1.3em; }
  nav li.mail {
    background: url("../images/mail-icon.png") no-repeat left 10px;
    padding-left: 30px; }

.communications-nav li {
  padding: 4px 0 0 30px;
  min-height: 20px;
  background: url("../images/anthro-home.png") no-repeat left top; }

/*    F O O T E R
/*--------------------------------------*/
footer {
  clear: both;
  float: left;
  width: 100%;
  padding: 35px 0 40px 0;
  font-size: .8em;
  line-height: 1.5em;
  text-align: center; }
  footer .search-form {
    display: none; }
  footer .row, footer .copyright {
    clear: both;
    float: left;
    width: 100%;
    padding: 0 0 10px 0; }

/*    A R T I C L E  L I S T
/*--------------------------------------*/
.column {
  padding: 10px;
  width: 20%;
  display: inline-block;
  vertical-align: top; }

.column + .column {
  width: 40%; }

.column + .column + .column {
  width: 30%; }

.page-template-page-list #main-content li {
  list-style: none;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); }

/*    S E A R C H
/*--------------------------------------*/
.search-results article {
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); }

/*    G E N E R A L
/*--------------------------------------*/
.subscribe {
  border-top: 1px solid black;
  border-bottom: 1px solid black; }
  .subscribe li {
    list-style: none;
    margin: 0;
    display: inline-block;
    font-size: .7em;
    width: 200px; }
  .subscribe .email, .subscribe .anthro-rss {
    width: 220px; }

.article-info {
  margin-top: 20px; }
  .article-info .chronicle-title {
    border-top: 2px solid rgba(0, 0, 0, 0.12);
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
    padding: 20px 0;
    margin-bottom: 20px;
    clear: both;
    float: left;
    width: 100%; }
  .article-info .left-col {
    float: left;
    clear: left;
    width: 100px; }
  .article-info .right-col {
    float: right;
    clear: right;
    width: 100px; }
  .article-info .center-col {
    width: 600px;
    margin-left: 35px;
    float: left; }
  .article-info .category {
    text-align: center; }

.social {
  font-size: 1em; }

.single .social {
  font-size: .8em; }

p.views-footer {
  border-top: 2px solid rgba(0, 0, 0, 0.12);
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  padding: 20px 0; }

/*    A R C H I V E S
/*--------------------------------------*/
.archive li {
  list-style: none;
  margin-left: 0; }

.archive .wpptopdfenh {
  display: inline-block;
  margin-left: 5px; }

.page-template-page-anthro nav.anthro-nav {
  float: left;
  clear: left;
  width: 250px;
  text-align: center; }
  .page-template-page-anthro nav.anthro-nav li {
    margin-left: 0;
    list-style: none; }

.page-template-page-anthro .past-issues {
  width: 550px;
  float: right;
  clear: right; }

.category-views footer {
  border-top: 2px solid rgba(0, 0, 0, 0.12); }

.category-views .center-col {
  text-align: center;
  font-style: italic; }
  .category-views .center-col h3 {
    font-size: 1.5em; }

/*    T A B L E S
/*--------------------------------------*/
/*td, th {
	padding: 5px;
} 
th {
	background-color: $primary-light;
}
tr:nth-of-type(odd) {
	background: $bg-light-color;
}
tr:hover td {
	background-color: $bg-dark-color;
}
td {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: $border-color;
}*/
/*    O T H E R
/*--------------------------------------*/
.alignleft {
  float: left;
  margin: 0 15px 15px 0; }

.alignright {
  float: right;
  margin: 0 0 15px 15px; }

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.archive .aligncenter {
  font-size: .8em;
  margin-bottom: 0; }

.gform_confirmation_wrapper {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em; }

#gform_wrapper_3 .gform_wrapper ul.gform_fields li.gfield {
  padding: 0; }

#gform_wrapper_3 form {
  text-align: center; }

#gform_wrapper_3 .ginput_container {
  display: inline-block; }

#gform_wrapper_3 li.gfield {
  padding: 0; }

#gform_wrapper_3 .gfield_radio {
  margin: 0; }
  #gform_wrapper_3 .gfield_radio li {
    margin: 0 10px;
    display: inline;
    padding: 0; }
  #gform_wrapper_3 .gfield_radio label {
    font-weight: bold; }

#gform_wrapper_3 .gform_footer {
  margin: 0;
  padding: 0;
  clear: none; }

/* FAQ */
dl.faq dt.question {
  background: white url("../images/inactive-arrow.png") no-repeat left 10px;
  padding-left: 15px;
  cursor: pointer; }

dl.faq dt.active {
  background: white url("../images/active-arrow.png") no-repeat left 10px; }

dl.faq dd {
  margin-left: 15px; }

dl.faq dd > p {
  margin-top: 10px; }

@media print {
  /* ==========================================================================
   Print Stylesheet
   ========================================================================== */
  /* Good Defaults */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }
  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }
    a:after, a:visited:after {
      content: " (" attr(href) ")"; }
    a abbr[title]:after, a:visited abbr[title]:after {
      content: " (" attr(title) ")"; }
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr, img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 1.5cm 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; }
  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none; }
  /* Custom Styles */
  footer .copyright, footer .copyright p {
    margin: 0; }
  footer {
    margin-top: 0; }
  header a:after,
  a[href^="http://ucla.edu"]:after,
  .tribe-events-cal-links a:after {
    content: none; }
  #main-content {
    width: 100%; }
  .give-back,
  header form,
  footer img,
  #hero,
  #slider,
  .side,
  #tribe-events-bar {
    display: none; }
  dl.faq dd {
    display: block !important; } }
