/* ==========================================================================
   Main Styles - Desktop
   ========================================================================== */
   
/*    M A I N  C O N T A I N E R S
/*--------------------------------------*/

body {
	background-color: #333;
}
#container {
	overflow: auto;
	zoom: 1;
	width: $site-width;
	margin: 0 auto;
	background-color: white;
	padding: 0 20px;
}
.content, header {
	width: 100%;
}
.views {
	background-color: #ffff80!important;
}
#hero {
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 400px;
	float: left;
	clear: both;
	margin: 0 0 13px 0;
	@include vendor-prefix('box-shadow', '0px 5px 5px 0 rgba(0,0,0,.14)');
}
.col {
	width: $site-width - 40px;
}
.left-col {
	float: left;
	clear: left;
	width: 225px;
}
.right-col {
	float: right;
	clear: right;
	width: 225px;
}
.center-col {
	width: 350px;
	margin-left: 35px;
	float: left;
	
	p {
		font-size: .8em;
		line-height: 1.3em;
	}
}
#main-content .row {
	clear: both;
	float: left;
	width: 100%;
	padding: 20px 0;
	border-bottom: 1px solid black;
}

/*    H O M E  P A G E
/*--------------------------------------*/

.home {
	.facebook {
		text-align: center;
	}
}

/*    H E A D E R
/*--------------------------------------*/

header {
	padding: 35px 0 0 0;
	
	&.top {
		h1, h2 { 
			width: 100%;
			display: inline-block;
			margin: 0;
			text-align: left;
		}
	}
	// For retina, upload image 2x larger and resize here
	.logo {
		width: 829px;
		height: 200px;
	}
	nav {
		clear: both;
		float: left;
		padding: 30px 0 20px 0;
	}
	nav ul {
		width: 730px;
	}
	.search {
		float: right;
		clear: right;
		margin-top: 30px;
	}
}

/*    N A V I G A T I O N
/*--------------------------------------*/

nav li {
	list-style: none;
	margin: 0 0 10px 0;
	font-size: .8em;
	line-height: 1.3em;
	
	&.mail {
		background: url('../images/mail-icon.png') no-repeat left 10px;
		padding-left: 30px;
	}
}
.communications-nav li {
	padding: 4px 0 0 30px;
	min-height: 20px;
	background: url('../images/anthro-home.png') no-repeat left top;
}

/*    F O O T E R
/*--------------------------------------*/

footer {
	clear: both;
	float: left;
	width: 100%;
	padding: 35px 0 40px 0;
	font-size: .8em;
	line-height: 1.5em;
	text-align: center;
	
	// Hiding and only showing on mobile
	.search-form {
		display: none;
	}
	.row, .copyright {
		clear: both;
		float: left;
		width: 100%;
		padding: 0 0 10px 0;
	}
	
}

/*    A R T I C L E  L I S T
/*--------------------------------------*/

.column {
	padding: 10px;
	width: 20%;
	display: inline-block;
	vertical-align: top;
}
.column + .column {
	width: 40%;
}
.column + .column + .column {
	width: 30%;
}
.page-template-page-list #main-content li {
	list-style: none;
	margin: 0;
	border-bottom: 1px solid $border-color;
}


/*    S E A R C H
/*--------------------------------------*/
.search-results article {
	margin-bottom: 20px;
	border-bottom: 1px solid $border-color;
}

/*    G E N E R A L
/*--------------------------------------*/

.subscribe {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	
	li {
		list-style: none;
		margin: 0;
		display: inline-block;
		font-size: .7em;
		width: 200px;
	}
	.email, .anthro-rss {
		width: 220px;
	}
}
.article-info {
	margin-top: 20px;
	
	.chronicle-title {
		border-top: 2px solid $border-color;
		border-bottom: 2px solid $border-color;
		padding: 20px 0;
		margin-bottom: 20px;
		clear: both;
		float: left;
		width: 100%;
	}
	.left-col {
		float: left;
		clear: left;
		width: 100px;
	}
	.right-col {
		float: right;
		clear: right;
		width: 100px;
	}
	.center-col {
		width: 600px;
		margin-left: 35px;
		float: left;
	}
	.category {
		text-align: center;
	}
}
.social {
	font-size: 1em;
}
.single .social {
	font-size: .8em;
}
p.views-footer {
	border-top: 2px solid $border-color;
	border-bottom: 2px solid $border-color;
	padding: 20px 0;
}

/*    A R C H I V E S
/*--------------------------------------*/

.archive {
	li {
		list-style: none;
		margin-left: 0;
	}
	.wpptopdfenh {
		display: inline-block;
		margin-left: 5px;
	}
}
.page-template-page-anthro {
	nav.anthro-nav {
		float: left;
		clear: left;
		width: 250px;
		text-align: center;
		
		li {
			margin-left: 0;
			list-style: none;
		}
	}
	.past-issues {
		width: 550px;
		float: right;
		clear: right;
	}
}
.category-views footer {
	border-top: 2px solid $border-color;
}
.category-views .center-col {
	text-align: center;
	font-style: italic;
	
	h3 {
		font-size: 1.5em;
	}
}

/*    T A B L E S
/*--------------------------------------*/

/*td, th {
	padding: 5px;
} 
th {
	background-color: $primary-light;
}
tr:nth-of-type(odd) {
	background: $bg-light-color;
}
tr:hover td {
	background-color: $bg-dark-color;
}
td {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: $border-color;
}*/

/*    O T H E R
/*--------------------------------------*/

.alignleft { 
	float: left;
	margin: 0 15px 15px 0;
}
.alignright { 
	float: right;
	margin: 0 0 15px 15px;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.archive .aligncenter {
	font-size: .8em;
	margin-bottom: 0;
}
.gform_confirmation_wrapper {
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
}
#gform_wrapper_3 {
	.gform_wrapper ul.gform_fields li.gfield {
		padding: 0;
	}
	form {
		text-align: center;
	}
	.ginput_container {
		display: inline-block;
	}
	li.gfield {
		padding: 0;
	}
	.gfield_radio {
		margin: 0;
	
		 li {
			margin: 0 10px;
			display: inline;
			padding: 0;
		}
		label {
			font-weight: bold;
		}
	}
	.gform_footer {
		margin: 0;
		padding: 0;
		clear: none;
	}
}

/* FAQ */
dl.faq {
	dt.question {
		background: white url('../images/inactive-arrow.png') no-repeat left 10px;
		padding-left: 15px;
		cursor: pointer;
	}
	dt.active {
		background: white url('../images/active-arrow.png') no-repeat left 10px; 
	}
	dd {
		margin-left: 15px;
	}
	dd > p {
		margin-top: 10px;
	}
}